# fly.toml app configuration file generated for petitio
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'petitio'
primary_region = 'gru'

[build]
  dockerfile = "Dockerfile"

[env]
  FLASK_ENV = 'production'
  PORT = '8080'

[processes]
  app = 'gunicorn run:app --bind 0.0.0.0:8080 --workers 2 --threads 4 --timeout 120'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
