services:
  - type: web
    name: petitio
    env: python
    buildCommand: "bash build.sh"
    startCommand: "gunicorn run:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: FLASK_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: petitio-db
          property: connectionString

databases:
  - name: petitio-db
    databaseName: petitio
    user: petitio
